h1 {
  text-align: center;
  color: rgb(231, 226, 226);
  font-size: 80px;
  border: none;
  background-color: hotpink;
  border-radius: 50%;
  width: 400px;
  height: 130px;
  padding-top: 30px;
}

body {
  background-color: rgba(253, 232, 0, 0.452);
  margin: 0px;
}

p {
  text-align: center;
  font-size: x-large;
  margin: 50px;
}

.middle {
  display: flex;
  margin-top: 80px;
  margin-bottom: 70px;
}

@media only screen and (max-width: 768px) {
  .middle {
    display: inline;
  }
}

.text {
  font-size: 30px;
}

.cast {
  margin-top: 30px;
  line-height: 1.6;
  display: flex;
  justify-content: space-evenly;
  font-size: larger;
}

.cast-pic {
  width: 100%;
}
h2 {
  text-align: center;
  margin-top: 70px;
  margin-bottom: 50px;
  font-size: 50px;
}
.navbar {
  background-color: hotpink;
  padding: 20px;
  position: fixed;
  width: 100%;
  font-family: monospace;
  display: flex;
  min-height: 30px;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.right-half {
  display: flex;
  justify-content: right;
}
a {
  font-size: 24px;
  text-decoration: none;
  margin-right: 40px;
}
a:link {
  color: purple;
}

.pedarsag {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.logo {
  padding-top: 10px;
  font-size: 30px;
  color: rgb(234, 230, 230);
}

[id]::before {
  content: "";
  display: block;
  height: 80px;
  margin-top: -80px;
  visibility: hidden;
}
.slideshow-container {
  position: relative;
  max-width: 100%;
  margin: auto;
}

.slide {
  display: none;
}

.fade {
  animation: fade 3s infinite;
}

@keyframes fade {
  0%,
  33.33% {
    opacity: 1;
  }
  33.33%,
  66.66% {
    opacity: 0;
  }
  66.66%,
  100% {
    opacity: 0;
  }
}

#container {
  position: relative;
  padding: 25px;
  margin: auto;
  overflow: hidden;
}
#container input {
  display: none;
}
#container input:checked + label {
  background-color: white;
}
#container input:checked + label + .slide {
  transform: translateX(0);
  opacity: 1;
}
#container input:checked ~ .slide {
  transform: translateX(100%);
}
#container label {
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 2px solid #fff;
  border-radius: 50%;
  background-color: transparent;
  margin: calc(80vh - 30px) 6px 0 6px;
  cursor: pointer;
  transition-duration: 0.4s;
}
#container .slide {
  position: absolute;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-size: cover;
  top: 0;
  left: 0;
  z-index: -1;
  transform: translateX(-100%);
  transition-duration: 0.4s;
  opacity: 0;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14vw;
  color: #fff;
}

#container .background1 {
  background-image: url("cherr.avif");
}
#container .background2 {
  background-image: url("dionne.webp");
}
#container .background3 {
  background-image: url("tai.jpeg");
}
#container .background4 {
  background-image: url("josh.webp");
}
#container .background5 {
  background-image: url("christion.webp");
}
#container .background6 {
  background-image: url("el.webp");
}

#container p {
  place-self: flex-end;
  color: black;
  text-shadow: -1px 0 rgba(245, 225, 11, 0.983), 0 1px rgba(245, 225, 11, 0.983),
    1px 0 rgba(245, 225, 11, 0.983), 0 -1px rgba(245, 225, 11, 0.983);
  font-size: 4vw;
}
.images {
  width: 100%;
  height: 560px;
  margin-top: 60px;
}
.spanimg {
  background-image: url("cherr.avif");
}
@media only screen and (max-width: 380px) {
  .cherimg {
    width: 100%;
  }
  .right-half {
    display: flex;
  }
}
